.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 30vw;
}

.Foto_achtergrond {
    background: url("https://images.steamusercontent.com/ugc/90469956947671200/8D80B9D784FC087A12C7FB9C78049021582BF8F9/");
    z-index: 1;
}

.Foto_achtergrond_recoil_case {
    width: 225px;
}

.Verplaatsing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100vw;
    height: 100vh;
}

.Verplaatsing2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}